.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Agregar fondo difuminado */
}

.login-card {
  width: 400px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: #fff; /* Agregar color de fondo blanco */
  text-align: center !important; /* Agregar !important */

}

mat-form-field {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

mat-card-title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #455;
  margin: 20px 0;
}


button[type="submit"] {
  width: 100%;
}

